@import "../../../app/variables.scss";
.premium{
    padding: 15px 0;
    background: #ffffff;
    overflow: hidden;
    @media (max-width: $breakpoint_mobile_portrait) {
       padding: 40px 0;
       }
    img{
        width: 100%;
        @media (max-width: $breakpoint_mobile_portrait) {
           margin-bottom: 30px;
           }
    }
   .content{
    max-width: 700px;
    h3{
        font-size: 34px;
        color: #ffffff;
        font-weight: bold;
        margin: 20px 0;
        line-height: 44px;
        span{
            font-size: 12px;
            color: #ffffff;
            @media (max-width: $breakpoint_tablet) {
                display: block;
                line-height: normal;
                margin-top: 10px;
              }
        }
        @media (max-width: $breakpoint_tablet) {
            font-size: 28px;
            line-height: 38px;
          }
          @media (max-width: $breakpoint_mobile_portrait) {
           font-size: 26px;
           line-height: 32px;
          }
    }
    p{
        margin: 0;
    }
   }
}