$breakpoint_mobile_landscape: 767px;
$breakpoint_mobile_portrait: 600px;
$breakpoint_small_portrait: 380px;
$breakpoint_tablet: 1000px;
$breakpoint_mini_laptop: 1200px;
$breakpoint_laptop: 1600px;

//changes