@import "../../../app/variables.scss";

.futurePlans {
  background-color: #fafbfc;
  padding-top: 70px;
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 40px;
  }
  .timeLine {
    padding: 150px 0 220px;
    @media screen and (max-width: $breakpoint_mini_laptop2) {
      padding: 0px 0 80px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      padding: 0px 0 50px;
    }
  }
  .main-timeline-section {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .main-timeline-section .conference-center-line {
    left: 50%;
    position: absolute;
    width: 75%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: #00b783;
    @media screen and (max-width: $breakpoint_mini_laptop2) {
      display: none;
    }
  }

  .timeline-article {
    width: 17%;
    position: relative;
    min-height: 300px;
    float: right;
    margin: 0 10px;
    &.green {
      .meta-date {
        color: #8cbd3b;
        border: 1px solid #8cbd3b;
        &::before {
          background: #e2f0cb;
        }
        &::after {
          top: -43px;
        }
      }
    }
    &.froze {
      .meta-date {
        color: #06d2c2;
        border: 1px solid #06d2c2;
        &::before {
          background: #e1faf8;
        }
        &::after {
          bottom: -43px;
          transform: translateX(-50%) rotate(180deg);
        }
      }
    }
    &.pink {
      .meta-date {
        color: #d75395;
        border: 1px solid #d75395;
        &::before {
          background: #fae8f1;
        }
        &::after {
          top: -43px;
        }
      }
    }
    &.yellow {
      .meta-date {
        color: #e7c226;
        border: 1px solid #e7c226;
        &::before {
          background: #fef6d4;
        }
        &::after {
          bottom: -43px;
          transform: translateX(-50%) rotate(180deg);
        }
      }
    }
    &.dGreen {
      .meta-date {
        color: #00b783;
        border: 1px solid #00b783;
        &::before {
          background: #e6edeb;
        }
        &::after {
          top: -43px;
        }
      }
    }
    @media screen and (max-width: $breakpoint_mini_laptop2) {
      width: 45%;
      margin: 0;
      min-height: auto;
      float: none;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      width: 93%;
    }
  }

  .timeline-article .content-date {
    position: absolute;
    top: 35%;
    left: -30px;
    font-size: 18px;
  }

  .timeline-article .meta-date {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #fafbfc;
    border: 1px solid #00b783;
    font-size: 12px;
    color: #00b783;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    @media screen and (max-width: $breakpoint_mini_laptop2) {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: url(../../../public/images_growstack/home/tline.png);
      background-size: contain;
      width: 1px;
      height: 43px;
    }
  }

  .timeline-article .meta-date::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: #e6edeb;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .timeline-article .content-box1 {
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 11%);
    border: 1px solid #8cbd3b;
    border-radius: 15px;
    background-color: #fff;
    width: max-content;
    position: absolute;
    top: 85%;
    left: -40px;
    @media screen and (max-width: $breakpoint_mini_laptop2) {
      width: 100%;

      min-height: 100%;
      max-height: 100%;
      position: unset;
    }
  }
  .timeline-article .content-box2 {
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 11%);
    border: 1px solid #06d2c2;
    border-radius: 15px;
    background-color: #fff;
    width: max-content;
    position: absolute;
    top: 85%;
    left: -40px;
    @media screen and (max-width: $breakpoint_mini_laptop2) {
      width: 100%;

      min-height: 100%;
      max-height: 100%;
      position: unset;
    }
  }
  .timeline-article .content-box3 {
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 11%);
    border: 1px solid #d75395;
    border-radius: 15px;
    background-color: #fff;
    width: max-content;
    position: absolute;
    top: 85%;
    left: -40px;
    @media screen and (max-width: $breakpoint_mini_laptop2) {
      width: 100%;

      min-height: 100%;
      max-height: 100%;
      position: unset;
    }
  }
  .timeline-article .content-box4 {
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 11%);
    border: 1px solid #e7c226;
    border-radius: 15px;
    background-color: #fff;
    width: max-content;
    position: absolute;
    top: 85%;
    left: -40px;

    @media screen and (max-width: $breakpoint_mini_laptop2) {
      width: 100%;

      min-height: 100%;
      max-height: 100%;
      position: unset;
    }
  }
  .timeline-article .content-box5 {
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 11%);
    border: 1px solid #00b783;
    border-radius: 15px;
    background-color: #fff;
    width: max-content;
    position: absolute;
    top: 85%;
    left: -40px;

    @media screen and (max-width: $breakpoint_mini_laptop2) {
      width: 100%;

      min-height: 100%;
      max-height: 100%;
      position: unset;
    }
  }
  .timeline-article .timeline-article-bottom .meta-date::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e6edeb;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-article-bottom .content-date {
    top: 59%;
  }

  .timeline-article-bottom .content-box1 {
    top: -40%;
  }
  .timeline-article-bottom .content-box2 {
    top: -40%;
  }
  .timeline-article-bottom .content-box3 {
    top: -40%;
  }
  .timeline-article-bottom .content-box4 {
    top: -40%;
  }
  .timeline-article-bottom .content-box5 {
    top: -40%;
  }
  .content-box1 h3 {
    font-size: 16px;
    font-weight: bold;
    color: #00b783;
  }
  .content-box1 ul {
    list-style-type: disc;
    padding-left: 25px;
    margin: 0;
    li {
      font-size: 14px;
      margin-top: 3px;
    }
  }
  .content-box2 h3 {
    font-size: 16px;
    font-weight: bold;
    color: #06d2c2;
  }
  .content-box2 ul {
    list-style-type: disc;
    padding-left: 25px;
    margin: 0;
    li {
      font-size: 14px;
      margin-top: 3px;
    }
  }
  .content-box3 h3 {
    font-size: 16px;
    font-weight: bold;
  }
  .content-box3 ul {
    list-style-type: disc;
    padding-left: 25px;
    margin: 0;
    color: #d75395;
    li {
      font-size: 14px;
      margin-top: 3px;
    }
  }
  .content-box4 h3 {
    font-size: 16px;
    font-weight: bold;
  }
  .content-box4 ul {
    list-style-type: disc;
    padding-left: 25px;
    margin: 0;
    li {
      font-size: 14px;
      margin-top: 3px;
    }
  }
  .content-box5 h3 {
    font-size: 16px;
    font-weight: bold;
  }
  .content-box5 ul {
    list-style-type: disc;
    padding-left: 25px;
    margin: 0;
    li {
      font-size: 14px;
      margin-top: 3px;
    }
  }
  .conference-timeline-content {
    width: 100%;
    @media screen and (max-width: $breakpoint_mini_laptop2) {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      justify-content: center;
    }
  }
}
