@import "../../../app/variables.scss";

.useIt{
    padding: 0;
    position: relative;
    .wrapper{
        background-color: #FFEDE6;
        overflow: hidden;
        margin: 0 20px 0;
        border-radius: 60px;
        padding: 50px 0;
        @media (max-width: $breakpoint_mobile_portrait) {
          margin: 0 10px 0;
          padding: 30px 0;
          border-radius: 25px;
        }
        .user{
          color: #009689;
          background-color: #00968916;
        }
        .cardsBlock{
          margin-top: 30px;
          @media (max-width: $breakpoint_mobile_portrait) {
            margin-top: 0;
            
          }
          .card{
              border: none;
              padding: 0;
              height: 100%;
              background-color: #FFEDE6;
              transition: all 0.3s ease;
              @media screen and (max-width: $breakpoint_mobile_portrait) {
                 height: auto;
                 margin-top: 20px;
              }
              .card-body{
                  padding: 0;
                  .card-title{
                      font-size: 20px;
                      color: #000;
                      font-weight: bold;
                      margin: 0px 0 15px;
                      @media (max-width: $breakpoint_tablet) {
                          font-size: 18px;
                        }
                  }
                  .card-text{
                      font-size: 16px;
                      color: #000;
                      margin: 0;
                        @media (max-width: $breakpoint_mobile_portrait) {
                          font-size: 14px;
                        }
                  }
              }
          }
        }
      }
}