@import "../../../app/variables.scss";

.businessSolution{
    padding: 90px 0;
    position: relative;
    overflow: hidden;
    @media (max-width: $breakpoint_mobile_portrait) {
        padding: 40px 0;
      }
      .wrapper{
        // margin: 0 0 70px;
        // @media (max-width: $breakpoint_mobile_portrait) {
        //   margin: 0 0 30px;
        // }
        .user{
          color: #009689;
          background-color: #00968916;
        }
        .cardsBlock{
          .card{
              border: 1px solid #E3E3E3;
              border-radius: 20px;
              padding: 40px 40px 25px;
              height: 100%;
              transition: all 0.3s ease;
              &:hover{
                  box-shadow: 0px 10px 20px 5px #0000000D;
              }
              @media screen and (max-width: $breakpoint_mobile_portrait) {
                 height: auto;
                 margin-top: 20px;
              }
              @media (max-width: $breakpoint_tablet) {
                padding: 20px;
                
              }
              .card-body{
                  padding: 0;
                  .card-title{
                      font-size: 20px;
                      color: #000;
                      font-weight: bold;
                      margin: 18px 0 15px;
                      @media (max-width: $breakpoint_tablet) {
                          font-size: 18px;
                        }
                        span{
                          font-weight: 400;
                          display: block;
                        }
                  }
                  .card-text{
                      font-size: 16px;
                      color: #000;
                      margin: 0;
                        @media (max-width: $breakpoint_mobile_portrait) {
                          font-size: 14px;
                        }
                  }
              }
          }
        }
      }
}