.prose {
  width: 100%;
  max-width: none;
}

.prose h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
}

.prose h2 {
  font-weight: 600;
  font-size: 24px;
}

.prose h3 {
  font-weight: 600;
  font-size: 20px;
}

.prose h4 {
  font-size: 18px;
  font-weight: 600;
}

.prose h5 {
  font-weight: 600;
}

.prose h6 {
  font-weight: 600;
}