@import "../../../../variables.scss";

.marketingStreamline{
    padding: 90px 0 60px;
    overflow: hidden;
    @media screen and (max-width: $breakpoint_mobile_portrait){
        padding: 40px 0 10px;
    }
    .mySwiper{
        margin: 0 30px;
        padding: 30px 0;
        position: relative;
        
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: -75px;
            width: 300px;
            height: 100%;
            // background: url("../../../../../public/solutionsmarketing/transSlider.svg") no-repeat;
            background-size: contain;
            background-position: center;
            z-index: 9;
            @media screen and (max-width: $breakpoint_mobile_portrait){
                display: none;
                
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: -75px;
            width: 300px;
            height: 100%;
            // background: url("../../../../../public/solutionsmarketing/transSlider.svg") no-repeat;
            background-size: contain;
            background-position: center;
            z-index: 9;
            transform: rotate(180deg);
            @media screen and (max-width: $breakpoint_mobile_portrait){
                display: none;
                
            }
        }
        .swiper-slide{
            height: auto !important;
            @media screen and (max-width: $breakpoint_mobile_portrait){
                height: auto !important;
            width: 100% !important;
            min-height: auto;
                
            }
        }
        .card{
            padding: 30px;
            background-color: #fff;
            border-radius: 20px;
            height: 100%;
            width:100%;
            // min-height: 400px;
            border: 0;
            transition: all 0.3s ease;
            border: 1px solid #E7E7E7;
            &:hover{
                box-shadow: 0 0 9px 5px rgb(0 0 0 / 5%);
            }
            @media screen and (max-width: $breakpoint_mobile_portrait){
                padding: 20px;
            }
            img{
                width: 100%;
                height: auto;
            }
            span{
                font-size: 14px;
            }
            h4{
                margin-top: 20px;
                font-size: 18px;
                color: #14171B;
                font-weight: 500;
                margin-bottom: 0;
                @media screen and (max-width: $breakpoint_mobile_portrait){
                    font-size: 18px;
                }
            }
            p{
                font-size: 16px;
                color: #14171B;
                font-weight: 400;
                margin-top: 10px;
                margin-bottom: 0;
                @media screen and (max-width: $breakpoint_mobile_portrait){
                    font-size: 16px;
                }
            }
        }
       
        .swiper-button-prev,
        .swiper-button-next {
            left: auto;
            bottom: 0;
            width: 47px;
            border: 1px solid #F2F2F2;
            height: 47px;
            border-radius: 100px;
            background: #14171B;
            transition: all 0.3s ease;

           

            &:hover {
                background-color: #034737;

                &::after {
                    background: url(../../../../../public/home/arrowWhite.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 15px;
                    height: 10px;
                    filter: none;
                }
            }

            &:after {
                content: '';
                background: url(../../../../../public/home/arrow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 15px;
                height: 10px;
                filter: invert(1);

            }
        }

        .swiper-button-prev:after {
            transform: scaleX(-1)
        }
    }
}