@import "../../app/variables.scss";

.forgetPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: url(../../public/images_growstack/login/loginBg.png);
    background-size: cover;
    height: 105vh;
    overflow: hidden;
    @media screen and (max-width: 992px) {
        height: auto;
    }
    .loginForm {
        width: 50%;
        max-width: 470px;
        margin: 0 auto;

        @media screen and (max-width: 1200px) {
            padding: 40px 0;
        }

        @media screen and (max-width: 992px) {
            padding: 50px 10px;
            width: 100%;
        }

        .formBlock {
            background-color: #F7FAFC;
            border-radius: 20px;
            padding: 40px;

            @media screen and (max-width: 600px) {
                padding: 30px 20px;

            }

            .title {
                text-align: center;

                .logo {
                    margin-bottom: 40px;
                    width: 150px;
                }
                .forgetImg{
                    margin-bottom: 15px;
                }

                h3 {
                    font-size: 24px;
                    color: #14171B;
                    font-weight: bold;
                    margin-bottom: 7px;
                }

                p {
                    font-size: 14px;
                    color: #14171B;
                    margin-bottom: 20px;
                }
            }


            .form-group {
                margin-bottom: 15px;
                position: relative;

                input {
                    width: 100%;
                    padding: 10px 20px 10px 40px;
                    font-size: 14px;
                    border: 1px solid #D0D5DD;
                    border-radius: 10px;
                    color: #000;
                    outline: 0;
                    background: white;

                    &:focus {
                        background: #ffff;
                        color: #000;
                        border: 1px solid #034737;
                    }

                }

                input:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0px 1000px #ffff inset;
                    -webkit-text-fill-color: #fff;
                }

                img {
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    width: 16px;
                    height: 16px;
                    transform: translateY(-50%);
                }
            }

            .loginBtn {
                padding: 10px 20px;
                font-size: 14px;
                background-color: #034737;
                color: #fff;
                border: 1px solid #034737;
                border-radius: 7px;
                cursor: pointer;
                width: 100%;

                &:hover {
                    background-color: #fff;
                    color: #034737;
                    border: 1px solid #034737;
                }
            }

            .back {
                text-align: center;
                margin-top: 30px;

                    a {
                        color: #14171B;
                        font-weight: 500;
                        text-decoration: none;
                        font-size: 14px;
                        background-color: transparent;
                        img{
                            margin-right: 10px;
                            margin-top: -2px;
                        }
                    }
            }
        }
    }
}